
<!-- importar header -->
<%- include('../header') %>

<!-- body -->
<div class='container'>
    <h3> Notas </h3>
    <div>
        <table class="striped">
            <thead>
                <tr>
                    <th>Ponto de Controle</th>
                    <th>Data de Fechamento</th>
                    <th>Nota Orientador</th>
                    <th>Nota Coordenador</th>
                    <th>Sub-total</th>                    
                </tr>
            </thead>
            <tbody>
                <tr class='clickable-row' data-href='/pc'>
                    <td>Primeiro</td>
                    <!--Data Fechamento-->
                    <td><%- pastapc.primeiro.data_fechamento %></td>
                    <!--Nota Orientador-->
                    <td><%- ponto_controle.nota_orientador %>/<%- pastapc.primeiro.valor_nota_orientador %></td>
                    <!--Nota Coordenador-->
                    <td><%- ponto_controle.nota_coordenador %>/<%- pastapc.primeiro.valor_nota_coordenador %></td>
                    <!--Sub-Total-->
                    <td><%= ponto_controle.nota_orientador + ponto_controle.nota_coordenador %>/<%= pastapc.primeiro.valor_nota_coordenador + pastapc.primeiro.valor_nota_orientador %></td>
                </tr>
                <tr class='clickable-row' data-href='/pc'>
                    <td>Segundo</td>
                    <!--Data Fechamento-->
                    <td><%- pastapc.segundo.data_fechamento %></td>
                    <!--Nota Orientador-->
                    <td><%- ponto_controle.nota_orientador %>/<%- pastapc.segundo.valor_nota_orientador %></td>
                    <!--Nota Coordenador-->
                    <td><%- ponto_controle.nota_coordenador %>/<%- pastapc.segundo.valor_nota_coordenador %></td>
                    <!--Sub-Total-->
                    <td><%= ponto_controle.nota_orientador + ponto_controle.nota_coordenador %>/<%= pastapc.segundo.valor_nota_coordenador + pastapc.segundo.valor_nota_orientador %></td>
                </tr>
                <tr class='clickable-row' data-href='/pc'>
                    <td>Terceiro</td>
                    <!--Data Fechamento-->
                    <td><%- pastapc.terceiro.data_fechamento %></td>
                    <!--Nota Orientador-->
                    <td><%- ponto_controle.nota_orientador %>/<%- pastapc.terceiro.valor_nota_orientador %></td>
                    <!--Nota Coordenador-->
                    <td><%- ponto_controle.nota_coordenador %>/<%- pastapc.terceiro.valor_nota_coordenador %></td>
                    <!--Sub-Total-->
                    <td><%= ponto_controle.nota_orientador + ponto_controle.nota_coordenador %>/<%= pastapc.terceiro.valor_nota_coordenador + pastapc.terceiro.valor_nota_orientador %></td>
                    <td></td>
                </tr>
                <tr class='clickable-row' data-href='/pc'>
                    <td>Quarto</td>
                    <!--Data Fechamento-->
                    <td><%- pastapc.quarto.data_fechamento %></td>
                    <!--Nota Orientador-->
                    <td><%- ponto_controle.nota_orientador %>/<%- pastapc.quarto.valor_nota_orientador %></td>
                    <!--Nota Coordenador-->
                    <td><%- ponto_controle.nota_coordenador %>/<%- pastapc.quarto.valor_nota_coordenador %></td>
                    <!--Sub-Total-->
                    <td><%= ponto_controle.nota_orientador + ponto_controle.nota_coordenador %>/<%= pastapc.quarto.valor_nota_coordenador + pastapc.quarto.valor_nota_orientador %></td>
                    <td></td>
                </tr>
                <tr>
                    <td><!----></td>
                    <td>Total</td>
                    <!--Nota Orientador-->
                    <td>11</td>
                    <!--Nota Coordenador-->
                    <td>12</td>
                    <!--Sub-Total-->
                    <td>21</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- importar footer -->
<%- include('../footer') %>